<!DOCTYPE html>

<head>

	<meta charset="utf-8">
	<title> Dear Deer </title>
	 <link rel="shortcut icon" href="deardeer.png" />

	<link href="/css/main2.css" rel="stylesheet" />
	<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/css/examples.css" />

</head>


<body>	
	
	<img id="logoImg" src="deardeer_w.png" width="200" />
	
	<!-- arrow -->
	<div id='rightArrow'></div>
	<div id='leftArrow'></div>
<!-- 	<img id="rightArrow" src="right.png" width="30" />
	<img id="leftArrow" src="left.png" width="30" /> -->

	<!-- viz -->
	<div id="viz2"></div>
	
	<p id="heading">And Your own poem with Dear Deer</p>
<!-- 
	<p id="h_q1">What’s your name?</p>
	<p id="h_q2">What was your favorite thing when you were a child?</p>
	<p id="h_q3">What do you usually have for breakfast?</p>
	<p id="h_q4">How you prepare it?</p>
	<p id="h_q5">What’s your favorite part of your body?</p>
	<p id="h_q6">What’s one thing you did last time you were happy?</p> -->

	<div class="type-wrap poem">
		<span id="typed" style="white-space:pre;">
		</span>
	</div>

		<!-- library -->
	<script src="/js/d3.v3.min.js"></script>
	<script src="/js/queue.v1.min.js"></script>

	<!-- typing -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/typed.js"></script>

	<!-- scrolling -->
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/js/examples.js"></script>

	
	<!-- custom javascript -->
	<script src="/js/main2.js"></script>
	<script src="/js/viz2.js"></script>
	<script src="/js/option.js"></script>
</body>


