<!DOCTYPE html>

<head>
	<meta charset="utf-8">
	<title>Dear Deer</title>

	<!-- library -->
	<script src="/js/d3.v3.min.js"></script>
	<script src="/js/queue.v1.min.js"></script>

	<!-- typing -->
	<script src="/js/jquery.min.js"></script>
	<script src="/js/typed.js"></script>

	<!-- scrolling -->
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/jquery.slimscroll.min.js"></script>
	<script type="text/javascript" src="/js/jquery.fullPage.js"></script>
	<script type="text/javascript" src="/js/examples.js"></script>

	<!-- custom javascript -->
	<script src="/js/main.js"></script>

	<link href="/css/main.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/jquery.fullPage.css" />
	<link rel="stylesheet" type="text/css" href="/css/examples.css" />
</head>


<body>	

<div id="fullpage">
	<div class="section " id="section0">
		<div class="intro">
<!-- 			<h1>Responsive</h1>
			<p>This example will turn to normal scroll when the window size gets smaller than 900px</p> -->
			
			<!-- <img src="deardeer.jpg" width="100" > -->
			<h1 id="h1_1">

				<!-- Dear Deer -->
			</h1>

			<div class="type-wrap poem">
				<img src="deardeer.jpg" width="140">
				<br><br>
		        <span id="typed" style="white-space:pre;">
		        	
		        </span>
		    </div>
		</div>
	</div>

	<div class="section" id="section1">

			<div class="poem">
				<img src="deardeer.jpg" width="140">
				<br><br>
		        <span id="mine">MY POEM</span><br><br>
		        <span id="mine">My poem</span> delights me.<br><span id="mine">My poem</span> is mine.<br><br>It is like <span id="mine">fresh bread</span><br>When <span id="mine">I bake it </span>myself.<br><br>It is like <span id="mine">my son</span><br>The day <span id="mine">he</span> was born.<br><br>I <span id="mine">laughed</span> as I wrote it,<br>And clapped my hands.<br><br>I will stop a stranger<br>To show him <span id="mine">my poem</span> .<br><br>Because it delights me.<br>Because it is mine.
		    </div>
<!-- 	    <div class="slide" id="slide1">
			<div class="intro"> -->
				<!-- <iframe width="1280" height="720" src="https://www.youtube.com/embed/oz6gAYJfgbE" frameborder="0" allowfullscreen></iframe> -->
<!-- 			</div>
		</div>
	    <div class="slide" id="slide2">
			<h1>This example uses responsive: 900</h1>
		</div> -->

	</div>

	<div class="section" id="section2">
		<div class="intro">
			<h1>Stories</h1>
		</div>
	</div>
</div>


	
</body>