/* FONT */
@font-face {
	font-family: HelveticaNeue;
	src: url(HelveticaNeue.ttf);
}

@font-face {
	font-family: HelvericaN;
	src: url(Helvetica.ttf);
}

@font-face {
	font-family: Neue;
	src: url(NeueHaasUnicaW1G-Regular.ttf);
}

@font-face {
	font-family: NeueThin;
	src: url(NeueHaasUnicaW1G-Thin.ttf);
}

/* STYLE */
body {
	font-family: 'Neue', sans-serif;
	background-color: black;
}

#q1 {
	color: white;
}
#q2 {
	color: white;
}
#q3 {
	color: white;
}
#q4 {
	color: white;
}
#q5 {
	color: white;
}
#q6 {
	color: white;
}

#viz2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	visibility: hidden;
}

#logoImg {
	position: absolute;
	left: 10%;
	opacity: 0.6;
}

h1 {
	position: absolute;
	font-size: 80px;
	left: 5%;
	top: 32%;
}

/* Arrows */
#rightArrow {
	position: absolute;
	right: 30px;
	opacity: 0.6;
	z-index: 10;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: red;
}

#rightArrow:hover {
	opacity: 0.4;
}

#leftArrow {
	position: absolute;
	left: 30px;
	opacity: 0.6;
	z-index: 10;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-color: red;
}

#leftArrow:hover {
	opacity: 0.4;
}

#h1_1 {
	position: absolute;
	font-size: 80px;
	left: 5%;
	top: 10%;
	color: black !important;
	text-align: left;
}

#h1_2 {
	position: absolute;
	font-size: 60px;
	left: 15%;
	top: 32%;
	text-align: center !important;
	color: white !important;
}

#heading {
	position: absolute;
	left: 0px;
	width: 100%;
	top: 45%;
	font-size: 40px;
	text-align: center;
	color: rgba(255,255,255,1);
	opacity: 0;
	visibility: hidden;
	text-transform: uppercase;
}

.newyorkStory {
	fill: #40e4c2;
	fill-opacity: 0.9;
	stroke-width: 0;
}

.taipeiStory {
	fill: #e44062;
	fill-opacity: 0.9;
	stroke-width: 0;
}

.poem {
	font-family: 'NeueThin', sans-serif;
	color: rgba(120,120,120,1)!important;
	position: absolute;
	font-size: 26px;
	text-align: center;

	right: 15%;
	width: 300px;
	padding-top: 20px;
	padding-bottom: 20px;
}

#mine {
	background-color: rgba(200,200,200,1);
	padding: 2px;
	color: rgba(200,200,200,1);
	margin: 2px;
}

#mine:hover {
	color: white;
}

.typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}